* {
	margin: 0;
	padding: 0;
}

body {
	
	font-family: Garamond, sans-serif;
	
}

h1 { font-size: 4.0em; }
p, li { font-size: 1.8em; }

.clear { clear: both; }

#header {
	padding: 15px 0 15px 15px;
	margin: 0 auto;
	background-color: #ccccff;
}

#content {
	padding: 15px 30px 0 0;
	}
	#main-content {
		margin-left: 300px;
		width: auto;
		
		}
		#main{
				float: left;
			}
			#btn1, #btn2{
				width: 100px;
				height: 40px;
				background: #b3e4ff;
				margin: 20px 20px;
				font-size: 150%;
				border-radius: 5px;
			}
			#table{
				background: #ffcc66
			}
		#graph{
			float: right;
			margin-right: 50px;
			margin-top: 40px;
		}
		#display{
			margin-left: 360px;
			padding: 10px;
			}
			#display ul {
				list-style: none;
			}

		#timeDisplay{
			margin-left: 360px;
			padding: 10px;
			}
			#timeDisplay ul {
				list-style: none;
			} 

#sidebar {
	width: 250px;
	height: 800px;
	float: left;
	background-color: #ccccff;
	padding: 0 0 0 15px;
	}
	#sidebar ul {
		list-style: none;
	}
	#sidebar ul li{
		margin: 20px 10px;
	}
	#sidebar ul li a{
		text-decoration: none;
	}